<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrgree.lifestat" >

    <application
        android:name=".LSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_settings_name"
            android:name=".MainSettingActivity" >
        </activity>
        <activity
            android:label="@string/app_user_settings_name"
            android:name=".UserSettingActivity" >
        </activity>
        <activity
            android:label="@string/app_day_detail_name"
            android:name=".DayDetailActivity" >
        </activity>
        <provider
            android:name=".db.DataBaseContentProvider"
            android:authorities="com.andrgree.lifestat.db" >
        </provider>
    </application>

</manifest>
